AgentReadFileFromRepo.json
{
  "name": "AgentReadFileFromRepo",
  "nodes": [
    {
      "parameters": {
        "model": "anthropic.claude-3-haiku-20240307-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        144,
        1184
      ],
      "id": "5232bc49-b046-4bb3-a3b0-13cd404b74ac",
      "name": "AWS Bedrock Chat Model",
      "credentials": {
        "aws": {
          "id": "HmfRAG6SnPJ1TzwE",
          "name": "AWS account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "anTesting"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        1184
      ],
      "id": "3ba9383d-b2dd-4433-ab67-210eb6003a21",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Senior Software Engineering, the following content the the source code:\n\n```{{ $json.data }}```\n\nGo through it and answer for me these questions:\n* Which programming language is using\n* How many function in that content. And purpose of each function.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        320,
        944
      ],
      "id": "2033932e-9555-4358-8efa-e22c8734dffb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -80,
        944
      ],
      "id": "24a72f90-36b8-460f-be3a-19f7de79aa4e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {
          "reference": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -496,
        944
      ],
      "id": "9e709eff-6720-4870-8a79-2b3fda2331e4",
      "name": "Get a file",
      "webhookId": "a73a26f2-b993-4d0e-8df7-3566dd6112cf",
      "credentials": {
        "githubOAuth2Api": {
          "id": "pL0LLeAtN51Ziw2K",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"language\": \"programming language\",\n  \"functions\" : [{\n    \"name\": \"function name\",\n    \"description\": \"description of function\",\n    \"arguments\": [{\n      \"name\": \"argument\",\n      \"type\": \"string\"\n    }]\n  }]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        1184
      ],
      "id": "3d7688cc-f87e-47ab-969e-d79774df218a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -736,
        944
      ],
      "id": "5c3b676c-d026-459b-979c-b18aa3895204",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f2e404b-0962-47dd-8878-c26f816d5311",
  "meta": {
    "instanceId": "e19bcd79288ba32d5b00c6bcd097856e2fdca4230440ae71d65e560d4587140f"
  },
  "id": "HWexi0gllKkn87jk",
  "tags": []
}