readFileFromGitHub.json
{
  "name": "readFileFromGitHub",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "https://github.com/an-dien",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/wizeline/AutonomousQAAgent-POC",
          "mode": "url"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        944
      ],
      "id": "46a1c38b-286f-49b1-9ee2-1331773719d6",
      "name": "Github Trigger",
      "webhookId": "a69cac44-0915-4aaf-baa3-42a6cef09ae3",
      "credentials": {
        "githubOAuth2Api": {
          "id": "pL0LLeAtN51Ziw2K",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        736
      ],
      "id": "31bdb455-143d-42ae-99e3-a9cea6a17451",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-haiku-20240307-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        144,
        1184
      ],
      "id": "1d175d9c-764c-469f-a760-900ec92b0e1c",
      "name": "AWS Bedrock Chat Model",
      "credentials": {
        "aws": {
          "id": "HmfRAG6SnPJ1TzwE",
          "name": "AWS account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "anTesting"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        1184
      ],
      "id": "1b17fd96-b648-4137-b783-fdc30b6c20d8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Senior Software Engineering, the following content the the source code:\n\n```{{ $json.data }}```\n\nGo through it and answer for me these questions:\n* Which programming language is using\n* How many function in that content. And purpose of each function.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        320,
        944
      ],
      "id": "df1f67a9-a4b1-4cd7-acf7-c08443ba6347",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -80,
        944
      ],
      "id": "e3fa9459-3401-49f4-bb57-18e7cb1d11b1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "wizeline",
          "mode": "list",
          "cachedResultName": "wizeline",
          "cachedResultUrl": "https://github.com/wizeline"
        },
        "repository": {
          "__rl": true,
          "value": "AutonomousQAAgent-POC",
          "mode": "list",
          "cachedResultName": "AutonomousQAAgent-POC",
          "cachedResultUrl": "https://github.com/wizeline/AutonomousQAAgent-POC"
        },
        "filePath": "main.py",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -496,
        944
      ],
      "id": "2a587351-88fc-4bb2-9b19-ee898001ae8f",
      "name": "Get a file",
      "webhookId": "520c1f3c-6a96-407e-a490-a1dc56c18fcd",
      "credentials": {
        "githubOAuth2Api": {
          "id": "pL0LLeAtN51Ziw2K",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"language\": \"programming language\",\n  \"functions\" : [{\n    \"name\": \"function name\",\n    \"description\": \"description of function\",\n    \"arguments\": [{\n      \"name\": \"argument\",\n      \"type\": \"string\"\n    }]\n  }]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        496,
        1152
      ],
      "id": "f53a09ad-6526-48b3-93e5-f3054820083b",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b48c0339-0215-4d0b-9020-ae2aece6f040",
  "meta": {
    "instanceId": "e19bcd79288ba32d5b00c6bcd097856e2fdca4230440ae71d65e560d4587140f"
  },
  "id": "6PkylB9FCgq4y5AR",
  "tags": []
}