n8n/AgentGenerateUT.json
{
  "name": "AgentGenerateUT",
  "nodes": [
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1248,
        672
      ],
      "id": "24a72f90-36b8-460f-be3a-19f7de79aa4e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {
          "reference": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1552,
        608
      ],
      "id": "9e709eff-6720-4870-8a79-2b3fda2331e4",
      "name": "Get a file",
      "webhookId": "a73a26f2-b993-4d0e-8df7-3566dd6112cf",
      "credentials": {
        "githubOAuth2Api": {
          "id": "pL0LLeAtN51Ziw2K",
          "name": "AnDien GitHub account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1824,
        560
      ],
      "id": "5c3b676c-d026-459b-979c-b18aa3895204",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Explode Agent Tests (fixed)\nconst src = $json;\n\n// Prefer top-level tests; fall back to output.tests\nconst tests = Array.isArray(src.tests) && src.tests.length\n  ? src.tests\n  : (Array.isArray(src.output?.tests) ? src.output.tests : []);\n\nconst language =\n  src.language ?? src.output?.language ?? 'python';\n\nconst framework =\n  src.framework ?? (language === 'node' ? 'vitest' : 'pytest');\n\nconst subdir =\n  src.subdir ?? src.output?.subdir ?? '';\n\nif (!tests.length) {\n  // no real tests -> mark so we can create a smoke test later\n  return [{ ...src, language, framework, subdir, _noAgentTests: true }];\n}\n\n// explode: one item per test\nreturn tests.map(t => ({\n  ...src,\n  language,\n  framework,\n  subdir,\n  testPath: t.path,\n  testB64: t.content_b64\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        752
      ],
      "id": "8b0e4a2f-2170-4bb1-b0c3-72b22c9cabf8",
      "name": "Explode Agent Tests",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=set -eu\n\nWORKDIR=\"{{ $json.workDir }}\"\nARTDIR=\"{{ $json.artDir }}\"\nSUBDIR=\"{{ $json.subdir || '' }}\"\nLANG=\"{{ $json.language }}\"\nMODULE=\"{{ $json.module }}\"\nREPO=\"$WORKDIR/repo${SUBDIR:+/$SUBDIR}\"\n\nmkdir -p \"$REPO\" \"$ARTDIR\"\n\n# 1) Write the source code (from Extract from File)\ncat > \"$REPO/$MODULE\" <<'SRC'\n{{ $json.code }}\nSRC\n\n# Python package hints for relative imports\nif [ \"$LANG\" = \"python\" ]; then\n  touch \"$REPO/__init__.py\" || true\nfi\n\n# 2) Save agent tests to a JSON file (robust against quoting)\ncat > \"$REPO/.agent-tests.json\" <<'JSON'\n{{ JSON.stringify($json.tests || ($json.output && $json.output.tests) || []) }}\nJSON\n\n# 3) Write tests using Node (no python3 required)\nexport REPO  # ensure child sees it\nnode <<'NODE'\nconst fs = require('fs');\nconst path = require('path');\n\nconst repo = process.env.REPO;\nif (!repo) { console.error('REPO env missing'); process.exit(2); }\n\nlet tests = [];\ntry {\n  const raw = fs.readFileSync(path.join(repo, '.agent-tests.json'), 'utf8');\n  tests = JSON.parse(raw || '[]');\n} catch (e) {\n  console.error('Failed to read/parse .agent-tests.json:', e.message);\n  tests = [];\n}\n\nlet wrote = 0;\nif (Array.isArray(tests)) {\n  for (const t of tests) {\n    if (!t || !t.path || !t.content_b64) continue;\n    const dest = path.join(repo, t.path);\n    fs.mkdirSync(path.dirname(dest), { recursive: true });\n    fs.writeFileSync(dest, Buffer.from(String(t.content_b64), 'base64'));\n    console.log('[write]', dest);\n    wrote++;\n  }\n}\n// help pytest discovery if tests/ exists\nconst testsDir = path.join(repo, 'tests');\nif (fs.existsSync(testsDir)) {\n  try { fs.writeFileSync(path.join(testsDir, '__init__.py'), ''); } catch {}\n}\nconsole.error('AQA_WROTE_TESTS=' + wrote);\nNODE\n\necho \"REPO=$REPO\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -336,
        1152
      ],
      "id": "613332a5-7000-442e-a82b-edd743249c85",
      "name": "Write Source & Tests",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "// MAIN INPUT MUST BE from \"Explode Agent Tests\"\nconst explode = $json || {};\nconst agent   = explode.output || explode || {};\nconst extract = $items('Extract from File', 0, 0)[0];  // optional secondary input\nconst code    = (extract && extract.json && extract.json.data) || '';\n\n// Create run context here (no Prepare Context. needed)\nconst runId = Date.now().toString();\nconst base  = '/tmp/aqa';\n\nconst language  = (agent.language || 'python').toLowerCase();\nconst framework = (agent.framework || (language === 'node' ? 'vitest' : 'pytest')).toLowerCase();\nconst subdir    = agent.subdir || '';\nconst tests     = Array.isArray(agent.tests) ? agent.tests : [];\n\nreturn [{\n  workDir: `${base}/${runId}`,\n  artDir:  `${base}/${runId}/art`,\n  language,\n  framework,\n  subdir,\n  module: language === 'node' ? 'main.js' : 'main.py',\n  code,\n  tests,\n}];\n"
      },
      "id": "3f627666-ee84-49a8-9997-17cccc403c60",
      "name": "Assemble Run Metadata1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -528,
        1152
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=set -eu\n\n# Read both streams from the previous node\nOUT_STD=\"$(printf \"%s\" \"{{ $json.stdout || '' }}\" | tr -d '\\r')\"\nOUT_ERR=\"$(printf \"%s\" \"{{ $json.stderr || '' }}\" | tr -d '\\r')\"\n\n# Extract REPO from stdout\nREPO=\"$(printf \"%s\\n\" \"$OUT_STD\" | awk -F= '/^REPO=/{print $2}')\"\n[ -n \"${REPO:-}\" ] || { echo \"ERROR: REPO not found in previous stdout\"; exit 2; }\n\n# AQA_WROTE_TESTS comes from stderr in your writer\nWROTE=\"$(printf \"%s\\n\" \"$OUT_ERR\" | awk -F= '/AQA_WROTE_TESTS=/{print $2}')\"\nWROTE=\"${WROTE:-0}\"\n\n# Optional: language hint for smoke test\nLANG=\"{{ $json.language || 'python' }}\"\n\necho \"REPO=$REPO\"\necho \"WROTE=$WROTE\"\n\ncd \"$REPO\"\n\n# If the writer didn't report, still check the filesystem\nHAS_FILES=0\nif find . -type f \\( -path './test/*' -o -path './tests/*' \\) | grep -q .; then\n  HAS_FILES=1\nfi\n\n# If no files, create a minimal smoke test\nif [ \"$WROTE\" -eq 0 ] && [ \"$HAS_FILES\" -eq 0 ]; then\n  if [ \"$LANG\" = \"node\" ]; then\n    mkdir -p test\n    cat > test/auto-agent.test.js <<'JS'\nimport { describe, it, expect } from 'vitest';\ndescribe('auto-agent smoke', () => { it('loads', () => { expect(1).toBe(1); }); });\nJS\n  else\n    mkdir -p tests\n    cat > tests/test_auto_agent.py <<'PY'\ndef test_smoke():\n    assert True\nPY\n  fi\n  HAS_FILES=1\nfi\n\nif [ \"$HAS_FILES\" -eq 1 ]; then\n  ARCH=\"/tmp/agent-tests-$$.tar.gz\"\n  # tar only test files; POSIX-friendly\n  FILES=\"$(find . -type f \\( -path './test/*' -o -path './tests/*' \\) -print | sed 's|^\\./||')\"\n  tar -czf \"$ARCH\" $FILES\n  echo \"ARCHIVE=$ARCH\"\nelse\n  echo \"NO_TESTS=1\"\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -144,
        1152
      ],
      "id": "403ac7f8-5f5e-4e34-a5fc-3cc25ce6d668",
      "name": "Detect and Zip Tests"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "wizeline",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/wizeline/AutonomousQAAgent-POC",
          "mode": "url"
        },
        "filePath": "={{ $json.repoPath }}",
        "fileContent": "={{ $json.b64 }}",
        "commitMessage": "chore(test): upload auto-generated tests"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        288,
        1152
      ],
      "id": "f9687de1-28ba-434f-9de3-94eba6e4e031",
      "name": "Create a file",
      "webhookId": "e02dc8d5-8ab4-41f7-8b4e-17365999bbdb",
      "credentials": {
        "githubApi": {
          "id": "SVHoQG3175TmkMxc",
          "name": "AnDien github token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n-safe archive loader (no require needed)\nconst archiveLine = ($json.stdout || '').replace(/\\r/g, '').match(/ARCHIVE=([^\\n]+)/);\nif (!archiveLine) return [];\n\nconst archivePath = archiveLine[1];\n\n// Use built-in helper to read the file from disk\nconst { promises: fs } = require('fs').constructor\n  ? require('fs')  // sometimes available in full n8n\n  : global.fs;     // fallback for n8n sandbox\n\nlet data;\ntry {\n  data = await fs.readFile(archivePath);\n} catch (err) {\n  throw new Error(`Cannot read archive: ${archivePath} - ${err.message}`);\n}\n\n// Convert to base64\nconst b64 = Buffer.from(data).toString('base64');\n\n// Build repo-friendly filename\nconst base = archivePath.split('/').pop();\nreturn [{\n  json: {\n    repoPath: `artifacts/${base}`,\n    b64\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1152
      ],
      "id": "091b724e-311e-4f2a-821f-58d4f8e59ee1",
      "name": "Load Archive as Base64"
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-haiku-20240307-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        -1232,
        1392
      ],
      "id": "e804a442-abd8-4c5d-aab8-53139117c2cd",
      "name": "AWS Bedrock Chat Model1",
      "credentials": {
        "aws": {
          "id": "HmfRAG6SnPJ1TzwE",
          "name": "AnDien AWS account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "anTesting"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1040,
        1440
      ],
      "id": "ffe917c3-9b89-4a27-bb71-53acc3d95a40",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior test engineer.\n\nYou will receive source code as input.  \nYour job is to:\n1. Detect the main programming language (python or node).\n2. Identify all key functions and their purposes.\n3. Generate appropriate unit tests using:\n   • pytest for Python  \n   • vitest for Node (ESM syntax)\n4. Return ONLY valid JSON (no markdown, no code fences, no explanations) that matches this schema:\n\n{\n  \"language\": \"python\" | \"node\",\n  \"framework\": \"pytest\" | \"vitest\",\n  \"subdir\": \"\",\n  \"tests\": [\n    {\n      \"path\": \"tests/test_auto_agent.py\",\n      \"content_b64\": \"base64-encoded test file content\"\n    }\n  ]\n}\n\n5. Encode the entire test file content in UTF-8 Base64.\n6. Use these default test paths unless the code structure clearly requires another:\n   • Python → tests/test_auto_agent.py  \n   • Node → test/auto-agent.test.js\n\nGuidelines:\n- For Python, import the main file (usually `main.py`) and test each detected function with simple positive, negative, and edge-case values.  \n- For Node, use ES modules (`import` syntax) and the `vitest` framework with `describe`, `it`, and `expect`.  \n- Ensure at least one smoke test that verifies the main module loads successfully.  \n- Do not include any text outside the JSON object.\n\nSource code:\n```{{ $json.data }}```",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -928,
        720
      ],
      "id": "3f447241-cfa0-4b08-aca8-6fe478fd3036",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"language\": \"python\",\n  \"framework\": \"pytest\",\n  \"subdir\": \"\",\n  \"tests\": [\n    {\n      \"path\": \"tests/test_auto_agent.py\",\n      \"content_b64\": \"base64-encoded content of the test file\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -848,
        1424
      ],
      "id": "9bedaf2f-974c-4304-9c79-5df9502ea715",
      "name": "Structured Output Parser1"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Agent Tests": {
      "main": [
        [
          {
            "node": "Assemble Run Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Source & Tests": {
      "main": [
        [
          {
            "node": "Detect and Zip Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Run Metadata1": {
      "main": [
        [
          {
            "node": "Write Source & Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect and Zip Tests": {
      "main": [
        [
          {
            "node": "Load Archive as Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Archive as Base64": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Explode Agent Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a027867b-0937-463b-aae9-636f8290fe9b",
  "meta": {
    "instanceId": "e19bcd79288ba32d5b00c6bcd097856e2fdca4230440ae71d65e560d4587140f"
  },
  "id": "HWexi0gllKkn87jk",
  "tags": []
}