n8n/TestExecution-v1.json
{
  "name": "AQA - Test Execution",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "https://github.com/an-dien",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/wizeline/AutonomousQAAgent-POC",
          "mode": "url"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        -544
      ],
      "id": "7b5f786c-6705-4871-bf03-c2064b6f391f",
      "name": "Github Trigger",
      "webhookId": "a69cac44-0915-4aaf-baa3-42a6cef09ae3",
      "credentials": {
        "githubOAuth2Api": {
          "id": "l28VW2tZO4VYxxno",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        -752
      ],
      "id": "423cd55b-12d2-4b34-8ce9-df4f67ff96aa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-haiku-20240307-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        320,
        -304
      ],
      "id": "70d24bfa-e900-45e1-afee-2da622b68ea9",
      "name": "AWS Bedrock Chat Model",
      "credentials": {
        "aws": {
          "id": "urtxb0bg2mm0ymcC",
          "name": "AWS account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "anTesting"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        -256
      ],
      "id": "faff7bb0-fc91-4a4f-a559-4e6654238a62",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior test engineer.\n\nYou will receive source code as input.  \nYour job is to:\n1. Detect the main programming language (python or node).\n2. Identify all key functions and their purposes.\n3. Generate appropriate unit tests using:\n   • pytest for Python  \n   • vitest for Node (ESM syntax)\n4. Return ONLY valid JSON (no markdown, no code fences, no explanations) that matches this schema:\n\n{\n  \"language\": \"python\" | \"node\",\n  \"framework\": \"pytest\" | \"vitest\",\n  \"subdir\": \"\",\n  \"tests\": [\n    {\n      \"path\": \"tests/test_auto_agent.py\",\n      \"content_b64\": \"base64-encoded test file content\"\n    }\n  ]\n}\n\n5. Encode the entire test file content in UTF-8 Base64.\n6. Use these default test paths unless the code structure clearly requires another:\n   • Python → tests/test_auto_agent.py  \n   • Node → test/auto-agent.test.js\n\nGuidelines:\n- For Python, import the main file (usually `main.py`) and test each detected function with simple positive, negative, and edge-case values.  \n- For Node, use ES modules (`import` syntax) and the `vitest` framework with `describe`, `it`, and `expect`.  \n- Ensure at least one smoke test that verifies the main module loads successfully.  \n- Do not include any text outside the JSON object.\n\nSource code:\n```{{ $json.data }}```",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        496,
        -544
      ],
      "id": "9fcaa70f-33e5-4c4a-af59-cb6bc4db7e60",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        96,
        -544
      ],
      "id": "614b910b-9ef0-4911-9b17-31400c775f59",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "wizeline",
          "mode": "list",
          "cachedResultName": "wizeline",
          "cachedResultUrl": "https://github.com/wizeline"
        },
        "repository": {
          "__rl": true,
          "value": "AutonomousQAAgent-POC",
          "mode": "list",
          "cachedResultName": "AutonomousQAAgent-POC",
          "cachedResultUrl": "https://github.com/wizeline/AutonomousQAAgent-POC"
        },
        "filePath": "main.py",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -320,
        -544
      ],
      "id": "2aa4b459-5673-4887-99e8-b9727486a330",
      "name": "Get a file",
      "webhookId": "520c1f3c-6a96-407e-a490-a1dc56c18fcd",
      "credentials": {
        "githubOAuth2Api": {
          "id": "l28VW2tZO4VYxxno",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"language\": \"python\",\n  \"framework\": \"pytest\",\n  \"subdir\": \"\",\n  \"tests\": [\n    {\n      \"path\": \"tests/test_auto_agent.py\",\n      \"content_b64\": \"base64-encoded content of the test file\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        -272
      ],
      "id": "65332b63-f773-4a69-aa72-f1e6815f8f42",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=set -eu\nREMOTE_DIR=\"/tmp/aqa_run_$$\"\nmkdir -p \"$REMOTE_DIR\"\ncat > \"$REMOTE_DIR/repo.tgz\" < /dev/stdin\ncd \"$REMOTE_DIR\"\ntar -xzf repo.tgz\n\npython3 -m venv venv\n. venv/bin/activate\npip install -q pytest pytest-cov pytest-mock\n\ncd repo\npytest -q --maxfail=1 --disable-warnings \\\n  --cov=. --cov-report=xml:\"$REMOTE_DIR/coverage.xml\" \\\n  --junitxml=\"$REMOTE_DIR/junit.xml\"\n\necho \"REMOTE_JUNIT=$REMOTE_DIR/junit.xml\"\necho \"REMOTE_COVERAGE=$REMOTE_DIR/coverage.xml\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1952,
        -752
      ],
      "id": "682f2811-775f-46f5-9ae9-792e97ecc800",
      "name": "Run Tests + Coverage",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const out = $prevNode['Run Tests + Coverage']?.json?.stdout ?? '';\nfunction first(re){ const m = out.match(re); return m ? m[1] : null; }\nfunction all(re){ const arr=[]; let m; while((m=re.exec(out))!==null) arr.push(m[1]); return arr; }\n\nconst status   = first(/AQA_STATUS=([^\\s]+)/);\nconst exitCode = (()=>{ const s=first(/EXIT_CODE=(\\d+)/); return s!=null?Number(s):null; })();\n\nconst junit    = first(/ART_JUNIT=([^\\n\\r]+)/);\nconst coverage = first(/ART_COVERAGE=([^\\n\\r]+)/);\nconst logs     = all(/ART_LOG=([^\\n\\r]+)/g);\n\nconst tests   = Number(first(/AQA_TESTS=(\\d+)/)   || 0);\nconst passed  = Number(first(/AQA_PASSED=(\\d+)/)  || 0);\nconst fails   = Number(first(/AQA_FAILS=(\\d+)/)   || 0);\nconst errors  = Number(first(/AQA_ERRORS=(\\d+)/)  || 0);\nconst skipped = Number(first(/AQA_SKIPPED=(\\d+)/) || 0);\nconst lineRate= Number(first(/AQA_LINE_RATE=([\\d.]+)/) || 0);\n\nconst passRatePct = tests ? Math.round((passed/tests)*1000)/10 : 0;\nconst covPct      = Math.round(lineRate*10000)/100;\nconst ok          = status==='ok' && exitCode===0 && fails===0 && errors===0;\n\nreturn [{\n  ...$json,\n  results: {\n    status, exitCode, ok,\n    junit, coverage, logs,\n    metrics: { tests, passed, fails, errors, skipped, passRatePct, covPct }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        -880
      ],
      "id": "a7e681e9-1658-46fa-9aff-28ba1567ca38",
      "name": "Summarize Results"
    },
    {
      "parameters": {
        "jsCode": "// Explode Agent Tests (fixed)\nconst src = $json;\n\n// Prefer top-level tests; fall back to output.tests\nconst tests = Array.isArray(src.tests) && src.tests.length\n  ? src.tests\n  : (Array.isArray(src.output?.tests) ? src.output.tests : []);\n\nconst language =\n  src.language ?? src.output?.language ?? 'python';\n\nconst framework =\n  src.framework ?? (language === 'node' ? 'vitest' : 'pytest');\n\nconst subdir =\n  src.subdir ?? src.output?.subdir ?? '';\n\nif (!tests.length) {\n  // no real tests -> mark so we can create a smoke test later\n  return [{ ...src, language, framework, subdir, _noAgentTests: true }];\n}\n\n// explode: one item per test\nreturn tests.map(t => ({\n  ...src,\n  language,\n  framework,\n  subdir,\n  testPath: t.path,\n  testB64: t.content_b64\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -544
      ],
      "id": "bfea49c3-a629-4fb1-a751-40cfb2b0f35c",
      "name": "Explode Agent Tests",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=set -eu\n\nWORKDIR=\"{{ $json.workDir }}\"\nARTDIR=\"{{ $json.artDir }}\"\nSUBDIR=\"{{ $json.subdir || '' }}\"\nLANG=\"{{ $json.language }}\"\nMODULE=\"{{ $json.module }}\"\nREPO=\"$WORKDIR/repo${SUBDIR:+/$SUBDIR}\"\n\nmkdir -p \"$REPO\" \"$ARTDIR\"\n\n# 1) Write the source code (from Extract from File)\ncat > \"$REPO/$MODULE\" <<'SRC'\n{{ $json.code }}\nSRC\n\n# Python package hints for relative imports\nif [ \"$LANG\" = \"python\" ]; then\n  touch \"$REPO/__init__.py\" || true\nfi\n\n# 2) Save agent tests to a JSON file (robust against quoting)\ncat > \"$REPO/.agent-tests.json\" <<'JSON'\n{{ JSON.stringify($json.tests || ($json.output && $json.output.tests) || []) }}\nJSON\n\n# 3) Write tests using Node (no python3 required)\nexport REPO  # ensure child sees it\nnode <<'NODE'\nconst fs = require('fs');\nconst path = require('path');\n\nconst repo = process.env.REPO;\nif (!repo) { console.error('REPO env missing'); process.exit(2); }\n\nlet tests = [];\ntry {\n  const raw = fs.readFileSync(path.join(repo, '.agent-tests.json'), 'utf8');\n  tests = JSON.parse(raw || '[]');\n} catch (e) {\n  console.error('Failed to read/parse .agent-tests.json:', e.message);\n  tests = [];\n}\n\nlet wrote = 0;\nif (Array.isArray(tests)) {\n  for (const t of tests) {\n    if (!t || !t.path || !t.content_b64) continue;\n    const dest = path.join(repo, t.path);\n    fs.mkdirSync(path.dirname(dest), { recursive: true });\n    fs.writeFileSync(dest, Buffer.from(String(t.content_b64), 'base64'));\n    console.log('[write]', dest);\n    wrote++;\n  }\n}\n// help pytest discovery if tests/ exists\nconst testsDir = path.join(repo, 'tests');\nif (fs.existsSync(testsDir)) {\n  try { fs.writeFileSync(path.join(testsDir, '__init__.py'), ''); } catch {}\n}\nconsole.error('AQA_WROTE_TESTS=' + wrote);\nNODE\n\necho \"REPO=$REPO\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1216,
        -544
      ],
      "id": "0474ddd1-56f2-444a-98c2-623b7d709f6f",
      "name": "Write Source & Tests",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=set -eu\nWORKDIR=\"{{ $item(0).$node['Assemble Run Metadata1'].json.workDir }}\"\nREPO=\"$WORKDIR/repo\"\ncd \"$WORKDIR\"\ntar -czf repo.tgz -C \"$WORKDIR\" repo\necho \"AQA_STATUS=ok\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1552,
        -1040
      ],
      "id": "cd417744-cda9-4122-949c-a56b17c517be",
      "name": "Run Python Tests (Docker)"
    },
    {
      "parameters": {
        "functionCode": "// MAIN INPUT MUST BE from \"Explode Agent Tests\"\nconst explode = $json || {};\nconst agent   = explode.output || explode || {};\nconst extract = $items('Extract from File', 0, 0)[0];  // optional secondary input\nconst code    = (extract && extract.json && extract.json.data) || '';\n\n// Create run context here (no Prepare Context. needed)\nconst runId = Date.now().toString();\nconst base  = '/tmp/aqa';\n\nconst language  = (agent.language || 'python').toLowerCase();\nconst framework = (agent.framework || (language === 'node' ? 'vitest' : 'pytest')).toLowerCase();\nconst subdir    = agent.subdir || '';\nconst tests     = Array.isArray(agent.tests) ? agent.tests : [];\n\nreturn [{\n  workDir: `${base}/${runId}`,\n  artDir:  `${base}/${runId}/art`,\n  language,\n  framework,\n  subdir,\n  module: language === 'node' ? 'main.js' : 'main.py',\n  code,\n  tests,\n}];\n"
      },
      "id": "10e5a4d0-9330-45b9-b4bc-b6f6df897551",
      "name": "Assemble Run Metadata1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1024,
        -544
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=set -eu\n\n# Read both streams from the previous node\nOUT_STD=\"$(printf \"%s\" \"{{ $json.stdout || '' }}\" | tr -d '\\r')\"\nOUT_ERR=\"$(printf \"%s\" \"{{ $json.stderr || '' }}\" | tr -d '\\r')\"\n\n# Extract REPO from stdout\nREPO=\"$(printf \"%s\\n\" \"$OUT_STD\" | awk -F= '/^REPO=/{print $2}')\"\n[ -n \"${REPO:-}\" ] || { echo \"ERROR: REPO not found in previous stdout\"; exit 2; }\n\n# AQA_WROTE_TESTS comes from stderr in your writer\nWROTE=\"$(printf \"%s\\n\" \"$OUT_ERR\" | awk -F= '/AQA_WROTE_TESTS=/{print $2}')\"\nWROTE=\"${WROTE:-0}\"\n\n# Optional: language hint for smoke test\nLANG=\"{{ $json.language || 'python' }}\"\n\necho \"REPO=$REPO\"\necho \"WROTE=$WROTE\"\n\ncd \"$REPO\"\n\n# If the writer didn't report, still check the filesystem\nHAS_FILES=0\nif find . -type f \\( -path './test/*' -o -path './tests/*' \\) | grep -q .; then\n  HAS_FILES=1\nfi\n\n# If no files, create a minimal smoke test\nif [ \"$WROTE\" -eq 0 ] && [ \"$HAS_FILES\" -eq 0 ]; then\n  if [ \"$LANG\" = \"node\" ]; then\n    mkdir -p test\n    cat > test/auto-agent.test.js <<'JS'\nimport { describe, it, expect } from 'vitest';\ndescribe('auto-agent smoke', () => { it('loads', () => { expect(1).toBe(1); }); });\nJS\n  else\n    mkdir -p tests\n    cat > tests/test_auto_agent.py <<'PY'\ndef test_smoke():\n    assert True\nPY\n  fi\n  HAS_FILES=1\nfi\n\nif [ \"$HAS_FILES\" -eq 1 ]; then\n  ARCH=\"/tmp/agent-tests-$$.tar.gz\"\n  # tar only test files; POSIX-friendly\n  FILES=\"$(find . -type f \\( -path './test/*' -o -path './tests/*' \\) -print | sed 's|^\\./||')\"\n  tar -czf \"$ARCH\" $FILES\n  echo \"ARCHIVE=$ARCH\"\nelse\n  echo \"NO_TESTS=1\"\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1408,
        -544
      ],
      "id": "60683cfa-2193-4b4b-ab84-a8bb9cb0c2a9",
      "name": "Detect and Zip Tests"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "wizeline",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/wizeline/AutonomousQAAgent-POC",
          "mode": "url"
        },
        "filePath": "={{ $json.repoPath }}",
        "fileContent": "={{ $json.b64 }}",
        "commitMessage": "chore(test): upload auto-generated tests"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1840,
        -544
      ],
      "id": "7f2c4bce-59e9-4f2b-b026-edf40367c7c6",
      "name": "Create a file",
      "webhookId": "e02dc8d5-8ab4-41f7-8b4e-17365999bbdb",
      "credentials": {
        "githubApi": {
          "id": "ayg6pUsRvNM66XGn",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n-safe archive loader (no require needed)\nconst archiveLine = ($json.stdout || '').replace(/\\r/g, '').match(/ARCHIVE=([^\\n]+)/);\nif (!archiveLine) return [];\n\nconst archivePath = archiveLine[1];\n\n// Use built-in helper to read the file from disk\nconst { promises: fs } = require('fs').constructor\n  ? require('fs')  // sometimes available in full n8n\n  : global.fs;     // fallback for n8n sandbox\n\nlet data;\ntry {\n  data = await fs.readFile(archivePath);\n} catch (err) {\n  throw new Error(`Cannot read archive: ${archivePath} - ${err.message}`);\n}\n\n// Convert to base64\nconst b64 = Buffer.from(data).toString('base64');\n\n// Build repo-friendly filename\nconst base = archivePath.split('/').pop();\nreturn [{\n  json: {\n    repoPath: `artifacts/${base}`,\n    b64\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -544
      ],
      "id": "2cc301f9-441f-4ac1-8bed-fd6013a7a970",
      "name": "Load Archive as Base64"
    }
  ],
  "pinData": {},
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Explode Agent Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Explode Agent Tests": {
      "main": [
        [
          {
            "node": "Assemble Run Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Source & Tests": {
      "main": [
        [
          {
            "node": "Detect and Zip Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Python Tests (Docker)": {
      "main": [
        [
          {
            "node": "Run Tests + Coverage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Run Metadata1": {
      "main": [
        [
          {
            "node": "Write Source & Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect and Zip Tests": {
      "main": [
        [
          {
            "node": "Load Archive as Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Archive as Base64": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b115c75c-6730-439b-a433-a3d5936ed30c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e19bcd79288ba32d5b00c6bcd097856e2fdca4230440ae71d65e560d4587140f"
  },
  "id": "hen2pyAo4HRwhAjA",
  "tags": []
}